/* Write your global styles here, in PostCSS syntax */

@import '@fontsource-variable/outfit';
@import '@fontsource/saira-stencil-one';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-brand-bgPrimary;
	}
	body:focus {
		@apply border-purple-500 outline-purple-500 ring-purple-500;
	}

	::selection {
		@apply bg-purple-700 text-white;
	}

}
